html, body {
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(195, 223, 241);
  font-family: 'Roboto', sans-serif;
}
header{
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: baseline;
}

.wrap {
  margin: 5%;
  padding: 5%;
  width: 100%;
  height: 100%;
  /* text-align: left; */
}
li {
  list-style-type: none; 
 }

a:link{
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: blue
}

a:active {
  color: cornflowerblue
}
 .navigation{
  margin: 5%;

  /* align-items: baseline; */
 }
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
input {
border: 0;
background-color: #ecf0f1;
box-shadow: 5px 5px 0 0 rgba(0,0,0,0.2);
font-size: 20px; 
border-radius: 5%;
margin: 5%;
padding: 5%;
/* height: 25px;
width: 200px; */
}

.list {
  display: flex;
  flex-direction: column;
  margin: 5%;
  padding: 5%;
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 5px 5px 0 0 rgba(0,0,0,0.2);
  list-style: none;
  overflow: hidden;
}
  
  .list-item {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ecf0f1;
    display: flex;
    justify-content: space-between;
   align-items: baseline;
    /* position: relative; */
  }

  button{
    border-radius: 6px;
    background-color: #ecf0f1;
    border: 0px;
    height: 30px;
    font-size: 12px;
    /* width: 40px; */
  }
  
  button:hover{
  
    background-color: darkgray;
    box-shadow: 5px 5px 0 0 rgba(0,0,0,0.2);
   
  }
 


